*.o
*.db
*.db-*
*.dll
*.ilk
*.in
*.ipch
*.ko
*.la
*.lo
*.log
*.obj
*.opendb
*.pdb
*.recipe
*.status
*.substvars
*.suo
*.swp
*.tlog
*.trs
*.user
*o.cmd
*~
.autotools
.cproject
.dirstamp
.libs
.project
.settings
/.idea/
/.vscode/
/Makefile
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.tmp
/depcomp
/doc/Doxyfile.cfg
/example/.deps/
/example/Makefile
/example/Makefile.dpdk
/example/build
/example/libndpiReader.a
/example/ndpiReader
/example/ndpiReader.exe
/example/ndpiSimpleIntegration
/fuzz/.deps/
/fuzz/Makefile
/fuzz/fuzz_ndpi_reader
/fuzz/fuzz_process_packet
/fuzz/fuzz_ndpi_reader_alloc_fail
/fuzz/fuzz_quic_get_crypto_data
/fuzz/fuzz_alg_bins
/fuzz/fuzz_alg_hll
/fuzz/fuzz_alg_hw_rsi_outliers_da
/fuzz/fuzz_alg_jitter
/fuzz/fuzz_alg_crc32_md5
/fuzz/fuzz_alg_ses_des
/fuzz/fuzz_alg_bytestream
/fuzz/fuzz_alg_shoco
/fuzz/fuzz_alg_memmem
/fuzz/fuzz_alg_strnstr
/fuzz/fuzz_alg_quick_encryption
/fuzz/fuzz_config
/fuzz/fuzz_community_id
/fuzz/fuzz_serialization
/fuzz/fuzz_ds_patricia
/fuzz/fuzz_ds_libcache
/fuzz/fuzz_ds_tree
/fuzz/fuzz_ds_ptree
/fuzz/fuzz_ds_hash
/fuzz/fuzz_ds_ahocorasick
/fuzz/fuzz_ds_bitmap64_fuse
/fuzz/fuzz_ds_domain_classify
/fuzz/fuzz_ds_kdtree
/fuzz/fuzz_ds_btree
/fuzz/fuzz_libinjection
/fuzz/fuzz_binaryfusefilter
/fuzz/fuzz_tls_certificate
/fuzz/fuzz_dga
/fuzz/fuzz_is_stun_udp
/fuzz/fuzz_is_stun_tcp
/fuzz/fuzz_ds_cmsketch
/fuzz/fuzz_gcrypt_light
/fuzz/fuzz_gcrypt_aes
/fuzz/fuzz_gcrypt_gcm
/fuzz/fuzz_gcrypt_cipher
/fuzz/fuzz_ndpi_reader_payload_analyzer
/fuzz/fuzz_ndpi_reader_pl7m_simplest
/fuzz/fuzz_ndpi_reader_pl7m_simplest_internal
/fuzz/fuzz_ndpi_reader_pl7m
/fuzz/fuzz_ndpi_reader_pl7m_64k
/fuzz/fuzz_ndpi_reader_pl7m_internal
/fuzz/fuzz_filecfg_protocols
/fuzz/fuzz_filecfg_categories
/fuzz/fuzz_filecfg_category
/fuzz/fuzz_filecfg_malicious_sha1
/fuzz/fuzz_filecfg_malicious_ja4
/fuzz/fuzz_filecfg_risk_domains
/fuzz/fuzz_filecfg_config
/fuzz/fuzz_readerutils_workflow
/fuzz/fuzz_readerutils_parseprotolist
/fuzz/fuzz_ndpi_reader_alloc_fail_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_pl7m_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_pl7m_64k_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_pl7m_internal_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_pl7m_simplest_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_pl7m_simplest_internal_seed_corpus.zip
/fuzz/fuzz_quic_get_crypto_data_seed_corpus.zip
/fuzz/fuzz_community_id_seed_corpus.zip
/fuzz/fuzz_is_stun_udp_seed_corpus.zip
/fuzz/fuzz_is_stun_tcp_seed_corpus.zip
/fuzz/fuzz_serialization_seed_corpus.zip
/fuzz/fuzz_alg_ses_des_seed_corpus.zip
/fuzz/fuzz_alg_bins_seed_corpus.zip
/fuzz/fuzz_alg_hll_seed_corpus.zip
/fuzz/fuzz_alg_jitter_seed_corpus.zip
/fuzz/fuzz_alg_crc32_md5_seed_corpus.zip
/fuzz/fuzz_alg_bytestream_seed_corpus.zip
/fuzz/fuzz_ds_libcache_seed_corpus.zip
/fuzz/fuzz_ds_ptree_seed_corpus.zip
/fuzz/fuzz_ds_bitmap64_fuse_seed_corpus.zip
/fuzz/fuzz_ds_domain_classify_seed_corpus.zip
/fuzz/fuzz_libinjection_seed_corpus.zip
/fuzz/fuzz_tls_certificate_seed_corpus.zip
/fuzz/fuzz_filecfg_protocols_seed_corpus.zip
/fuzz/fuzz_filecfg_categories_seed_corpus.zip
/fuzz/fuzz_filecfg_category_seed_corpus.zip
/fuzz/fuzz_filecfg_malicious_sha1_seed_corpus.zip
/fuzz/fuzz_filecfg_malicious_ja4_seed_corpus.zip
/fuzz/fuzz_filecfg_risk_domains_seed_corpus.zip
/fuzz/fuzz_filecfg_config_seed_corpus.zip
/fuzz/fuzz_dga_seed_corpus.zip
/fuzz/fuzz_ndpi_reader_payload_analyzer_seed_corpus.zip
/fuzz/fuzz_readerutils_workflow_seed_corpus.zip
/fuzz/fuzz_readerutils_parseprotolist_seed_corpus.zip
/fuzz/fuzz_*.dict
/fuzz/testpcaps.zip
/influxdb/Makefile
/install-sh
/libndpi.pc
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/packages/ndpi*.buildinfo
/packages/ndpi*.changes
/packages/ndpi*.deb
/packages/ndpi*.dsc
/packages/ndpi*.tar.gz
/packages/ubuntu/Makefile
/packages/ubuntu/debian/changelog
/packages/ubuntu/debian/control
/packages/ubuntu/debian/files
/packages/ubuntu/debian/.debhelper/
/packages/ubuntu/debian/ndpi/
/packages/ubuntu/debian/ndpi-dev/
/packages/ubuntu/debian/ndpi-dev-tmp/
/packages/ubuntu/debian/ndpi-tmp/
/rrdtool/Makefile
/rrdtool/rrd_anomaly
/rrdtool/rrd_similarity
/src/include/Makefile
/src/include/ndpi_config.h
/src/include/ndpi_define.h
/src/lib/.deps/
/src/lib/Makefile
/src/lib/libndpi
/src/lib/libndpi-*.dll
/src/lib/libndpi.4
/src/lib/libndpi.a
/src/lib/libndpi.so*
/src/lib/protocols/.deps/
/src/lib/third_party/src/.deps/
/src/lib/third_party/src/fuzz/.deps/
/tags
/test-driver
/tests/Makefile
/tests/dga/Makefile
/tests/dga/dga_evaluate
/tests/dga/dga_evaluate.exe
/tests/do.sh
/tests/performance/Makefile
/tests/unit/Makefile
/tests/unit/unit
compile
stamp-h1
/windows/packages/pthreads.2.9.1.4
/windows/packages/pthreads.redist.2.9.1.4
/windows/bin/x64_Debug-ndpiReader/ndpiReader.exe
/windows/obj/nDPI_Debug-ndpiReader_x64/nDPI.vcxproj.FileListAbsolute.txt
