*.[oa]
*~
*o.cmd
*.lo
*.obj
*o.cmd
*.ko
*.swp
*.in
*.la
.libs
.dirstamp
stamp-h1
/configure
/config.guess
/config.h
/config.h.in
/config.sub
/config.log
/config.status
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/libndpi.pc
/libtool
/src/lib/Makefile
/src/include/Makefile
/example/ndpiReader
/example/Makefile
/aclocal.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/autom4te.cache/
/compile
/example/.deps/
/src/lib/.deps/
/src/lib/protocols/.deps/
/src/lib/third_party/src/.deps/
/test-driver
/tests/Makefile
